.root {
  max-width: 376px;
  position: relative;
  transition: var(--transitionStyleButton);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 92px;

  & .svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transitionStyleButton);
    path {
        stroke: var(--orange100);
      }
      path + path {
        stroke: var(--orange100);
      }
  }

  &.prev {
    & .svg {
      path {
        stroke: var(--black40);
      }
      path + path {
        stroke: var(--black40);
      }
    }
    & .textBlock {
      color: var(--black40);
    }
  }

  &.next {
    & .svg {
      path {
        stroke: var(--black40);
      }
      path + path {
        stroke: var(--black40);
      }
    }
    & .textBlock {
      color: var(--black100);
    }
  }

  @media screen and (max-width: 1024px) {
    max-width: 320px;
    padding: 20px 40px;
  }
}

.textBlock {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  color: var(--orange100);
}
