  .root {
    max-width: 376px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-color: var(--white100);
    
    @media screen and (max-width: 768px) {
      display: none;
    }
  }